body{
    background-color:#d2b48c;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px dotted black;
    padding: 10px 10px 10px 10px; 
    font-family: sans-serif;
}
p{
    background-color: red;
    border: 1px solid gray;
}
h1, h2{
    font-family: sans-serif; /*字体*/
    color: gray;
}
h1{
    border-bottom: 1px solid black; /*下划线*/
}